<footer>

     <div class="footer-flex-content">
          <div>
               <a href="/" >
               <div class="footer-heading">{{site.title}}</div>
               </a>
               <div class="separator-dotted"></div>
          </div>
          <div class="links-section">
               <!-- C-1 -->
               <div class="links-group">
                    <div class="links">
                         <div class="links">
                              <div class="title">Links</div>
                              <ul>
                                   <li><a href="https://google.com">Link 0</a></li>
                                   <li><a href="https://google.com">Link 1</a></li>
                              </ul>
                         </div>
                    </div>


               </div>


          </div>
     </div>

     <div class="endnotes">
          Copyright {{site.time | date: '%Y'}} DPS Bangalore South. All Rights Reserved.
     </div>

</footer>