@import 'colors'
     
section
     padding: 1em
     header
          .title
               font-family: 'EB Garamond'
               font-variant: small-caps
               font-weight: 800
               font-size: 1.5em
               display: flex
               flex-direction: row
               
          .title:before, .title:after
               content: ""
               flex: 1 1
               border-bottom: 1px solid $theme_dark
               margin-top: auto
               margin-bottom: auto
          .title:before
               margin-right: 1em
          .title:after
               margin-left: 1em

     .articles
          padding-top: 1em
          padding-bottom: 1em
     a
          text-decoration: none
          color: $theme_dark

.title-section
     header
          margin-bottom: 1em
          
     .title:before, .title:after
          border: none
     .title
          opacity: 0.5
          text-decoration: underline

     .image
          width: 100%
          height: 60vh
          overflow: hidden
          img
               object-fit: cover
               height: 100%
               width: 100%

     .periphery
          width: 100%
          padding-top: 1em
          padding-bottom: 2em
          .post-title
               font-family: 'EB Garamond'
               font-size: 2em
          .extract
               font-family: 'EB Garamond'
               font-size: 1em
               opacity: 0.5
     
