---
layout: default
---

<div class="author-bio">
	<div class="author-image">
		{% if page.image %} <img src="{{page.image}}">
		{% endif %}
	</div>
				
	<div>
		<h1>{{ page.name }}</h1>
		<h2 class="author-position">{{ page.position }}</h2>
		
		<div>
			{{ page.description }}
		</div>
	</div>
</div>

{{ content }}

<h2>Posts</h2>
<div class="post-list">
	{% assign filtered_posts = site.posts | where: 'author', page.shortname %}
	{% for post in filtered_posts %}
	<div class="item">
		<a class="post-link" href="{{ post.url | relative_url }}">
			<div class="post-image">
				{% if post.image %} <img src="{{post.image}}">
				{% endif %}
			</div>
			<div class="post-title-section">
				{% assign author = site.authors | where: 'name', post.author |
				first %} {% if author %}<div class="post-author">{{ author.display_name }}</div>
				{% endif %}
				<div class="post-title">{{ post.title | escape }}</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>