<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main>

			<div class="home-content">
				
				<section class="title-section">
					<header>
						<div class="title">Featured</div>
					</header>

					{% assign fp = site['posts'] | where: 'title', site.data.featured.post | last  %}
					<a href="{{ fp.url | relative_url }}">
						<div class="image">
							<img src="{{fp.image}}" alt="">
						</div>
	
						<div class="periphery">
							{% assign author = site.authors | where: 'name', fp.author |
							first %} {% if author %}<div class="post-author">{{ author.display_name }}</div>
							{% endif %}
							<div class="post-title">{{fp.title}}</div>
							<div class="extract">{{fp.extract}}</div>
						</div>

					</a>

				</section>

				{% for collection in site.collections %} {% if collection.label != 'authors' %}
					<section>
						<header>
							<div class="title">{{collection.label | capitalize}}</div>
						</header>

						<div class="articles">
							{% assign posts = site[collection.label] | sort: 'date' | reverse  %} {% endif %} {%- if posts.size >
							0 -%}
								<div class="post-list">
									{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
									-%} {%- for post in posts limit:3 -%}
										<div class="item">
											<a class="post-link" href="{{ post.url | relative_url }}">
												<!-- <div class="post-meta">{{ post.date | date: date_format }}</div> -->
												<div class="post-image">
													{% if post.image %} <img src="{{post.image}}">
													{% endif %}
												</div>
												<div class="post-title-section">
													{% assign author = site.authors | where: 'name', post.author |
													first %} {% if author %}<div class="post-author">{{ author.display_name }}</div>
													{% endif %}
													<div class="post-title">{{ post.title | escape }}</div>
												</div>
											</a>
										</div>
									{%- endfor -%}
								</div>
						</div>

						<div class="separator-dotted"></div>
					</section>
					{%- endif -%} {% endfor %}

			</div>

		</main>

		{% include footer.html %}
		{% include envsash.html %}
	</body>

	<script>
		function hover(element) {
			element.setAttribute('src', '/images/me2.png');
		}

		function unhover(element) {
			element.setAttribute('src', '/images/me.png');
		}
	</script>
</html>
