<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main>

			<div class="home-content">
				
				<section>
					<header>
						<div class="title">Get the Journal</div>
						<div class="articles">
							
						</div>

					</header>



					<div class="separator-dotted"></div>
				</section>

			</div>

		</main>

		{% include footer.html %}

		{% include envsash.html %}
	</body>

	<script>
		function hover(element) {
			element.setAttribute('src', '/images/me2.png');
		}

		function unhover(element) {
			element.setAttribute('src', '/images/me.png');
		}
	</script>
</html>
